body {
    background-color: yellow;
    background-image: url('images.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    height: 100vh;
    margin: 0;
}